/* Variables */
[data-type="quill-chat-view"],
[id="oq-prompt-modal"],
[id="oq-saveas-form"] {
	--oq-app-bright-color: var(--text-accent);
	--oq-app-faint-color: var(--text-faint);
	--oq-view-title-height: 2.5rem;
	--oq-message-pad-height: 6.25rem;
	--oq-hightlight-width: 3px;
	--oq-transition-color: color 0.2s ease;
	--oq-transition-opacity: opacity 0.2s ease;
	--oq-transition-border-color: border-color 1.5s ease;
}

/* Settings */
.oq-settings {
	display: grid;
	grid-gap: 1.5rem;
	height: auto;
}
.oq-settings .setting-item {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 33%;
}
.oq-settings input,
.oq-settings select {
	width: 100%;
}

/* Editor */
.cm-editor.oq-streaming {
	pointer-events: none;
}
.cm-active {
	transition: background-color 1.5s ease;
}
.oq-streaming .cm-active {
	padding: 0.5rem 0 0.5rem 0.75rem !important;
	border-radius: 0.33rem;
	background-color: var(--text-accent);
	color: var(--text-on-accent);
	transition: background-color 1s ease;
}
.oq-streaming .cm-active::before {
	content: "» ";
}
.oq-streaming .cm-active.cm-line {
	text-indent: 0 !important;
}
.oq-streaming .cm-active.cm-line .list-number,
.oq-streaming .cm-active.cm-line .list-bullet {
	color: var(--text-on-accent);
}

/* View */
.view-content:focus-within #oq-view-title,
.view-content:focus-within #oq-message-pad {
	border-color: var(--oq-app-bright-color);
	color: var(--oq-app-bright-color);
	transition: var(--oq-transition-color), border-color 0.2s ease;
}
[data-type="quill-chat-view"] .view-content {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 1fr var(--oq-message-pad-height);
	padding: 0;
}
#oq-view-title {
	position: absolute;
	top: 0;
	height: var(--oq-view-title-height);
	width: 100%;
	z-index: 1000;
	color: var(--oq-app-faint-color);
	transition: var(--oq-transition-color), border-color 0.2s ease;
	border-bottom: 2px solid var(--oq-app-faint-color);
	padding: 0.66rem 1rem 0;
	font-weight: 400;
	--icon-size: var(--icon-m);
	background: var(--background-primary);
}
#oq-btn-new-conv {
	width: fit-content;
	cursor: pointer;
}
#oq-btn-new-conv:after {
	position: relative;
	bottom: 0.35rem;
	margin-left: 0.5rem;
	content: "new conversation";
	font-size: small;
	color: var(--oq-app-faint-color);
	transition: var(--oq-transition-color);
	cursor: pointer;
}
#oq-btn-new-conv:hover::after {
	color: var(--oq-app-bright-color);
}
#oq-messages {
	display: grid;
	grid-auto-rows: min-content;
	gap: 0.5rem;
	padding-top: calc(var(--oq-view-title-height) + 12px);
	padding-bottom: 1.25rem;
	max-height: 100%;
	overflow-y: scroll;
	line-height: var(--line-height-normal);
	font-size: small;
	mask-image: linear-gradient(to top, transparent 0, white 2rem);
	-webkit-mask-image: linear-gradient(to top, transparent 0, white 2rem);
	scroll-behavior: smooth;
}
.oq-message {
	display: grid; /* Need this here to all pre scroll */
	padding: 0 1rem;
	border-left: var(--oq-hightlight-width) solid transparent;
	user-select: text;
	-webkit-user-select: text;
	transition: border-color 1.5s ease;
}
.oq-message-highlight {
	border-left-color: var(--oq-app-bright-color);
	transition: border-color 0.1s ease;
}
.oq-message p {
	/* Respect line breaks */
	white-space: pre-wrap;
}
.oq-message pre {
	white-space: pre-wrap;
	background: var(--background-secondary);
}
.oq-message code[class*="language-"] {
	white-space: pre;
	font-size: smaller;
}
.oq-message-user {
	grid-template-columns: 1rem 1fr;
}
.oq-message-user pre {
	border: 1px solid var(--code-background);
}
.oq-message-user-icon::before {
	line-height: 1;
	content: "»";
	text-align: left;
	font-size: larger;
	font-weight: bold;
	color: var(--oq-app-bright-color);
}
.oq-message-content {
	padding-right: 1rem;
	overflow-x: scroll; /* Important: Allows pre scroll in grid */
}
.oq-message-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.oq-message-actions {
	opacity: 0.2;
	transition: var(--oq-transition-opacity);
}
.oq-message:hover .oq-message-actions {
	opacity: 1;
	transition: var(--oq-transition-opacity);
}
.oq-message-actions .lucide {
	color: var(--oq-app-faint-color);
	transition: var(--oq-transition-color);
	margin-right: 0.5rem;
}
.oq-message-actions .lucide:hover {
	color: var(--oq-app-bright-color);
	transition: var(--oq-transition-color);
	cursor: pointer;
}
.oq-message-assistant .oq-message-content {
	padding: 0 1rem 0.5rem 1rem;
	border: 1px solid var(--background-modifier-border);
	background: var(--background-primary);
	border-radius: 1rem;
	transition: border-color 0.5s ease;
}
.oq-message-assistant .oq-message-content.oq-message-streaming {
	border-color: var(--oq-app-bright-color);
	transition: border-color 0.3s ease;
}
.oq-message-streaming .oq-message-actions {
	visibility: hidden;
}
.oq-message-selectedtext {
	border-left: 3px solid var(--background-modifier-border);
	/* border-left: 3px solid var(--oq-app-faint-color); */
	padding: 0.25rem 1rem 0.25rem 1rem;
	margin: 0.75rem 0;
}
#oq-message-pad {
	position: fixed;
	bottom: 0;
	left: var(--oq-hightlight-width);
	z-index: 1000; /* Ensures the header is above other content */
	width: 100%;
	padding: 1rem;
	background: var(--background-primary);
	border-top: 2px solid var(--oq-app-faint-color);
}
.oq-prompt-container {
	position: relative;
	display: grid;
	grid-gap: 0.75rem;
	grid-template-columns: 1fr 2.5rem;
}
.oq-prompt-model {
	padding: 0.2rem 0 0 1rem;
	font-size: x-small;
	font-weight: normal;
	color: var(--oq-app-faint-color);
	/* opacity: 0.7; Too light? */
}
.oq-prompt-input {
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	overflow-y: auto;
	resize: none;
}
textarea.oq-prompt-input::placeholder {
	white-space: nowrap;
	overflow-x: hidden;
	/* This doesn't work for some reason, but leaving here for now. */
	text-overflow: ellipsis;
}
button.oq-prompt-send {
	--icon-size: 22px; /* btwn --icon-m & lg */
	position: relative;
	border: none;
	box-shadow: none;
	padding: 0;
	background: none;
	color: var(--oq-app-faint-color);
	transition: var(--oq-transition-color);
}
button.oq-prompt-send::before {
	position: absolute;
	top: 1.55rem;
	content: "send";
}
button.oq-prompt-send:focus,
button.oq-prompt-send:enabled:hover {
	color: var(--oq-app-bright-color);
	transition: var(--oq-transition-color);
	cursor: pointer;
}
/* Start WDS technique */
/* https://youtu.be/OhCzEjXvY9A?si=AKxDg-pzGHF5VAeK&t=214 */
.oq-message-selectedtext-content {
	opacity: 0.4;
	display: block;
	--max-lines: 5;
	line-height: var(--line-height-tight);
	max-height: 5rem;
	overflow: hidden;
	position: relative;
	mask-image: linear-gradient(to top, transparent, black 2rem);
	-webkit-mask-image: linear-gradient(to top, transparent, black 2rem);
	cursor: pointer;
	transition: opacity 0.5s ease;
}
.oq-message-selectedtext-content:hover {
	opacity: 0.7;
}
.oq-message-user code[class*="language-"] {
	opacity: 0.8;
	display: block;
	--max-lines: 5;
	max-height: 10rem;
	position: relative;
	mask-image: linear-gradient(to top, transparent, black 2rem);
	-webkit-mask-image: linear-gradient(to top, transparent, black 2rem);
	cursor: pointer;
	transition: opacity 0.15s ease;
}
.oq-message-user code[class*="language-"] {
	opacity: 1;
}
.oq-message-selectedtext-content > *:first-child {
	margin: 0 auto;
	margin-block-start: 0;
}
.oq-message-selectedtext-checkbox {
	display: none;
}
.oq-message-selectedtext-content:has(
		+ .oq-message-selectedtext-checkbox:checked
	) {
	opacity: 0.8;
	max-height: none;
	mask-image: none;
	-webkit-mask-image: none;
	transition: max-height 0.5s ease;
	/* cursor: auto; */ /* <- Not sure about this. Has trade offs. */
}
/* End WDS technique */

/* AI model used for response */
.oq-message-model {
	font-size: smaller;
	text-align: right;
	user-select: none;
	color: var(--oq-app-faint-color);
}

/* Modals */
#oq-saveas-form {
	display: grid;
	padding-right: 1.25rem;
	grid-row-gap: 1rem;
}
#oq-saveas-footer {
	display: grid;
	grid-template-columns: max-content max-content 1fr;
	align-items: center;
}
#oq-saveas-form h5 {
	margin: 0;
	color: var(--text-normal);
}
#oq-saveas-form label {
	font-size: 0.8rem;
}
#oq-saveas-form button {
	width: fit-content;
	justify-self: end;
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}
#oq-prompt-modal {
	padding-right: 1.25rem;
}
#oq-output-modal {
	padding: 0.5rem;
	user-select: text;
}
